@import url('./reset.css');

:root {
  --fundo-preto: #121212;
  --branco-tiulo: rgba(255, 233, 233, 1);
  --branco-texto: rgba(255, 255, 255, 0.57);
  --branco-input: rgba(255, 255, 255, 0.34);
  --fundo-input: rgba(135, 135, 140, 0.1);
  --azul: rgba(30, 50, 139, 1);
  --font: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

button {
  border: 0;
  background-color: inherit;
  font: inherit;
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: var(--font);
  color: var(--branco-texto);
  background-color: var(--fundo-preto);
}

